html, body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-thumb:active {
    background: #999;
}

.ant-tag .anticon-close  {
    color: #ccc !important;
}

/*========================= 自定义全局css =============================*/
.page-content {
    margin-top: 30px;
}

/*--------------------- 搜索区域样式 ---------------------*/
.search-container .search-box {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.search-container .search-box .search-item {
    width: 24%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
}

.search-container .search-box .search-item .label-title {
    width: 30%;
    margin-right: 10px;
    font-weight: bolder;
}

.search-container .search-box .search-item .label-component {
    width: 100%;
}

/*--------------------- 操作（批量删除）区域样式 ---------------------*/
.operate-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.operate-btn-container .operate-left-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.operate-btn-container .operate-left-box .operate-left-item {
    margin-right: 10px;
}

.operate-btn-container .operate-right-box {

}

/*--------------------- 抽屉编辑弹窗样式 ---------------------*/
.drawer-footer-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px;
    background: #fff;
    text-align: right;
    z-index: 1;
}

/*--------------------- 分页居中样式 ---------------------*/
.page-center {
    display: flex;
    justify-content: center;
    margin-top: 10px !important;
}

/*--------------------- 上传组件样式 ---------------------*/
.upload-item-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 120px;
    max-height: 200px;
    height: auto;
    cursor: pointer;
    border: 1px dashed #e8e8e8;
    background-color: #fafafa;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .1), -4px -4px 8px rgba(0, 0, 0, .1);
}

.upload-item-avatar .img-item {
    width: 100%;
}

.upload-item-avatar .text-item {
    text-align: center;
    padding: 37px 49px;
    font-size: 15px;
}

.upload-item-backstage {
    width: 60%;
    height: auto;
    min-height: 150px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .1), -4px -4px 8px rgba(0, 0, 0, .1);
}

.upload-item-backstage .img-item {
    width: 100%;
    height: auto;
}
