<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pumpkin.disease.mapper.MenuMapper">

    <select id="getMenuById" resultType="com.pumpkin.disease.response.security.menu.MenuDetailResponse">
        select m1.id,
               m1.name,
               m1.path,
               m1.component,
               m1.icon,
               m1.menu_type as menuType,
               m1.perm,
               m1.parent_id as parentId,
               m2.name      as parentName,
               m1.order_num as orderNum,
               m1.is_hidden as isHidden,
               m1.remark
        from menu m1
                 left join menu m2 on m2.id = m1.parent_id
        where m1.is_deleted = 0
          and m2.is_deleted = 0
          and m1.id = #{menuId}
    </select>

    <select id="listMenuContentIds" resultType="java.lang.Long">
        select id
        from menu
        where is_deleted = 0
        and menu_type = 'M' OR  menu_type = 'C'
    </select>
</mapper>
