<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pumpkin.disease.mapper.OperateLogMapper">


    <select id="listOperateLog" resultType="com.pumpkin.disease.entity.OperateLog">
        select *
        from operate_log
        where is_deleted = 0
        <if test="request.keywords != null and request.keywords != ''">
            and instr(operate_module,#{request.keywords}) > 0
        </if>
        <if test="request.username != null and request.username != ''">
            and instr(username,#{request.username}) > 0
        </if>
        <if test="request.operateType != null and request.operateType != ''">
            and operate_type = #{request.operateType}
        </if>
        <if test="request.requestType != null and request.requestType != null">
            and request_type = #{request.requestType}
        </if>
        <if test="request.beginTime != null and request.endTime != null">
            and gmt_create between #{request.beginTime} and #{request.endTime}
        </if>
        order by gmt_create DESC
    </select>
</mapper>
